.features4-layout301 {
  gap: var(--dl-layout-space-fiveunits);
  width: 1404px;
  height: 764px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.features4-max-width {
  gap: 48px;
  width: 1310px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.features4-text10 {
  text-align: center;
}
 
.features4-row {
  width: 100%;
  height: 563px;
}
 
.features4-feature1 {
  gap: 32px;
  flex: 1;
  width: 380px;
  height: 532px;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-fourunits);
  margin-right: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
 
.features4-img1 {
  width: 375px;
  height: 284px;
}
 
.features4-content1 {
  align-self: stretch;
  align-items: center;
}
 
.features4-section-title1 {
  align-self: stretch;
  align-items: center;
}
 
.features4-title1 {
  text-align: center;
}
 
.features4-description1 {
  text-align: center;
}
 
.features4-action4 {
  align-self: stretch;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: stretch;
  justify-content: center;
}
 
.features4-button1 {
  color: #2b4dff;
  font-size: 20px;
  text-decoration: none;
}
 
.features4-action1 {
  font-size: 25px;
}
 
.features4-icon1 {
  fill: #2b4dff;
}
 
.features4-feature2 {
  gap: 32px;
  flex: 1;
  width: 395px;
  height: 100%;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.features4-img2 {
  width: 393px;
  height: 292px;
}
 
.features4-content2 {
  height: 210px;
  align-self: stretch;
  align-items: center;
}
 
.features4-section-title2 {
  align-self: stretch;
  align-items: center;
}
 
.features4-title2 {
  text-align: center;
}
 
.features4-description2 {
  text-align: center;
}
 
.features4-action5 {
  width: 395;
  height: 46px;
  align-self: stretch;
  margin-top: var(--dl-layout-space-unit);
  align-items: stretch;
  justify-content: center;
}
 
.features4-button2 {
  width: 111px;
  height: 50px;
  font-size: 25px;
  text-decoration: none;
}
 
.features4-action2 {
  color: #2b4dff;
  font-size: 25px;
}
 
.features4-icon3 {
  fill: #2B4DFF;
  width: auto;
}
 
.features4-feature3 {
  gap: 32px;
  flex: 1;
  width: 367px;
  height: 555px;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.features4-img3 {
  width: 365px;
  height: 293px;
}
 
.features4-content3 {
  align-self: stretch;
  align-items: center;
}
 
.features4-section-title3 {
  align-self: stretch;
  align-items: center;
}
 
.features4-title3 {
  text-align: center;
}
 
.features4-description3 {
  text-align: center;
}
 
.features4-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.features4-action6 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-self: center;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: stretch;
  justify-content: center;
}
 
.features4-button3 {
  text-decoration: none;
}
 
.features4-action3 {
  fill: #2B4DFF;
  color: #2B4DFF;
  font-size: 25px;
}
 
.features4-icon5 {
  fill: #2B4DFF;
}
 
.features4-fragment10 {
  display: contents;
}
 
.features4-text11 {
  display: inline-block;
}
 
.features4-fragment11 {
  display: contents;
}
 
.features4-text12 {
  display: inline-block;
}
 
.features4-fragment12 {
  display: contents;
}
 
.features4-text13 {
  display: inline-block;
}
 
.features4-fragment13 {
  display: contents;
}
 
.features4-text14 {
  display: inline-block;
}
 
.features4-fragment14 {
  display: contents;
}
 
.features4-text15 {
  display: inline-block;
}
 
.features4-fragment15 {
  display: contents;
}
 
.features4-text16 {
  display: inline-block;
}
 
.features4-fragment16 {
  display: contents;
}
 
.features4-text17 {
  display: inline-block;
}
 
.features4-fragment17 {
  display: contents;
}
 
.features4-text18 {
  display: inline-block;
}
 
.features4-fragment18 {
  display: contents;
}
 
.features4-text19 {
  display: inline-block;
}
 
.features4-fragment19 {
  display: contents;
}
 
.features4-text20 {
  display: inline-block;
}
 
.features4root-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  margin-top: var(--dl-layout-space-doubleunit);
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
@media(max-width: 991px) {
  .features4-row {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .features4-feature1 {
    width: 100%;
  }
  .features4-feature2 {
    width: 100%;
  }
  .features4-feature3 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .features4-text10 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .features4-max-width {
    gap: 24px;
  }
}
